* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Didot", serif;
  background-image: url("images/homepage-grid.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  gap: 20px;
  padding: 40px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
}

body a {
  text-decoration: none;
  color: black;
}

.gif1 {
  margin-top: 15px;
  margin-left: 655px;
  position: fixed;
}

.image1 {
  height: 55px;
  width: 65px;
  margin-left: 585px;
  margin-top: 115px;
  position: fixed;
}

.gif2 {
  margin-top: 100px;
  margin-left: 450px;
  position: fixed;
}

.image2 {
  height: 45px;
  width: 45px;
  margin-left: 845px;
  margin-top: 240px;
  position: fixed;
}

.gif3 {
  margin-top: 270px;
  margin-left: 650px;
  position: fixed;
}

.image3 {
  height: 50px;
  width: 50px;
  margin-top: 325px;
  position: fixed;
  margin-left: 610px;
}

.gif4 {
  margin-top: 285px;
  margin-left: 510px;
  position: fixed;
}

.image4 {
  height: 85px;
  width: 85px;
  margin-left: 895px;
  margin-top: 420px;
  position: fixed;
}

.bottom-text {
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.scroll-down {
  position: absolute;
  bottom: 60px;
  right: 60px;
  font-size: 50px;
}
