<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GFS Didot', serif;
  background-image: url('Homepage grid.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  gap: 20px;
  padding: 40px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
}


.gif1 {
  margin-top: 50px;
  margin-left: 652px;
  position: fixed;

}

.image1 {
  height: 55px;
  width: 65px;
  margin-left: 580px;
  margin-top: 115px;
  position: fixed;
}


.word2 {
  margin-top: 125px;
  margin-left: 495px;
  font-family: "GFS Didot", serif;
  font-weight: 550;
  font-size: 85px;
  position: fixed;
}

.image2 {
  height: 45px;
  width: 45px;
  margin-left: 845px;
  margin-top: 240px;
  position: fixed
}



.word3 {
   margin-top: 210px;
  margin-left: 670px;
  font-family: "GFS Didot", serif;
  font-weight: 550;
  font-size: 85px;
  position: fixed;

}
.image3 {
  height: 50px;
  width: 50px;
  margin-top: 325px;
  position: fixed;
  margin-left: 610px;
}


.word4 {
  margin-top: 295px;
  margin-left: 495px;
  font-family: "GFS Didot", serif;
  font-weight: 599;
  font-size: 85px;
  position: fixed;

}

.image4 {
  height: 85px;
  width: 85px;
  margin-left: 830px;
  margin-top: 420px;
  position: fixed
}

.bottom-left-text {
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.scroll-down {
  position: absolute;
  bottom: 60px;
  right: 60px;
  font-size: 50px;

}
</style>